nav{
    display:grid;
    justify-content:start;
    padding: 20px 100px;
    border-radius:15px;
    /* border: 2px solid black; */
    font-size: 20px;
    background-color: darkgray;
}
.links{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgb(220, 220, 220);
    border-radius: 8px;
    padding: 10px 30px;
    margin: 60px;
}
.links:hover{
    color: hotpink;
    background-color: rgb(72, 61, 139);
    border-radius: 40px;
    padding: 10px 30px;
}
